<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="header">
            <a href="/"><div class="button">Sākums</div></a>
            <a href="/sludinajumi"><div class="button">Sludinājumi</div></a>
            <a href="/luxus-auto"><div class="button">Luxus Auto</div></a>
            <a href="/srots"><div class="button">Šrots</div></a>
            <a href="/ievietot"><div class="button">+ Ievietot Savu</div></a>
        </div>

    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>