{% extends "base.html" %}
{% block title %}Sludinājumi{% endblock %}
{% block content %}

<div class="sludinajumi">
    {% for sludinajums in sludinajumi %}
        <a href="">
            <div class="sludinajums">
                
                <div class="image-container">
                    <img class="bilde" src="{{ url_for('static', filename='images/' ~ sludinajums['image']) }}.jpg">
                    <div class="year">{{ sludinajums["year"] }}</div>
                </div>

                <div class="info">
                    <h2>{{ sludinajums["manufacturer_name"] }} {{ sludinajums["model"] }}</h2>
                    <div class="price">{{ sludinajums["price"] }} €</div>
                </div>

            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}